<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit Art</h1>
    <%= image_tag @art.image.url(:medium) %>
    <%= render 'form' %>
    <%= link_to "Cancel", @pin %>
  </div>
</div>