<div id="arts" class="transitions-enabled">
  <% @arts.each do |art| %>
  <div class="box panel panel-default">
    <%= link_to (image_tag art.image.url), art %>
      <div class="panel-body">
        <h2> <%= link_to "#{art.title}", art %></h2>
        <p class="user">Submitted by <%= art.user.email %></p>
      </div>
  </div>
  <% end %>
</div>